<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
  <title>{% block title %}Title{% endblock %}</title>
  {% endblock %}
</head>
<body>
  <header class="header">
    <ul>
      <li><a href="{{ url_for('home') }}">Home Page</a></li>      
      <li><a href="{{ url_for('todo') }}">TODO App</a></li>      
      <li><a href="{{ url_for('blog') }}">Blog</a></li>      
      <li><a href="{{ url_for('rmbg') }}">Remove Background</a></li>      
    </ul>
  </header>
  <hr>

  <main>
    {% block main %}
    {% endblock %}
  </main>

  <hr>
  <footer class="footer">
    <p>&copy; {% block year %}2012{% endblock %} Pascal</p>
    <p>GitHub: <a href="https://github.com/paslkal" target="_blank">paslkal</a></p>
  </footer>

</body>
</html>