{% extends 'base.html' %}

{% block head %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='blog.css')}}">
  <script>
    function deleteMessage() {
      const btns = document.querySelectorAll('.js-delete-btn')
      btns.forEach(btn => {
        btn.addEventListener('click', () => {
          const {messageId} = btn.dataset
          
          fetch('http://127.0.0.1:5500/api/message', {
            method: 'DELETE',
            body: JSON.stringify({id: parseInt(messageId)}),
            headers: {"Content-Type": "application/json"}
          })
  
          const message = document.querySelector(`.js-message-${messageId}`)
          message.remove()
        })
      })
    }

    function editMessage() {
      const editButtons = document.querySelectorAll('.js-edit-btn')

      editButtons.forEach(btn => {
        btn.addEventListener('click', () => {
          const {messageId} = btn.dataset
          
          const message = document.querySelector( `.js-message-${messageId}`)

          message.classList.add('edit-mode')

          console.log('edit')

        })
      })
      
      const saveButtons = document.querySelectorAll('.js-save-btn')

      saveButtons.forEach(btn => {
        btn.addEventListener('click', () => {
          const {messageId} = btn.dataset
          
          const message = document.querySelector( `.js-message-${messageId}`)

          message.classList.remove('edit-mode')

          console.log('save')
        })
      })
    }

    window.addEventListener('load', () => {
      deleteMessage()
      editMessage()
    })
  </script>
{% endblock %}

{% block title %}Blog{% endblock %}

{% block link_home %} {{ link_home }} {% endblock %}
{% block link_todo %} {{ link_todo }} {% endblock %}
{% block link_blog %} {{ link_blog }} {% endblock %}

{% block main%}
  <h1>Pascal Blog</h1>

  <h2>Messages</h2>
  {% for message in messages %}
    <div class="message js-message-{{ message['id'] }}">
      <h3>Title: {{message["title"]}} </h3>
      <p>{{message["content"]}}</p>
      <button class="edit-btn js-edit-btn" data-message-id="{{message['id']}}">
        Edit
      </button>
      <button class="save-btn js-save-btn" data-message-id="{{message['id']}}">
        Save
      </button>
      <button class="js-delete-btn" data-message-id="{{message['id']}}">
        Delete
      </button>
    </div>
  {% endfor %}

  <form action="/api/message" method="post">
    <input name="title" type="text" placeholder="Title...">
    <input name="content" type="text" placeholder="Content...">
    <!-- <input type="submit" value="Add"> -->
    <button>Add Task</button>
  </form>
{% endblock %}

{% block year %}{{year}}{% endblock %}