{% extends 'base.html' %}

{% block head %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='blog.css')}}">
{% endblock %}

{% block title %}Blog{% endblock %}

{% block link_home %} {{ link_home }} {% endblock %}
{% block link_todo %} {{ link_todo }} {% endblock %}
{% block link_blog %} {{ link_blog }} {% endblock %}

{% block main%}
  <h1>Pascal Blog</h1>

  <h2>Messages</h2>
  {% for message in messages %}
    <div class="message">
      <h3>Title: {{message["title"]}} </h3>
      <p>{{message["content"]}}</p>
      <button>Update</button>
      <button>Delete</button>
    </div>
  {% endfor %}

  <form action="/api/message" method="post">
    <input name="title" type="text" placeholder="Title...">
    <input name="content" type="text" placeholder="Content...">
    <!-- <input type="submit" value="Add"> -->
    <button>Add Task</button>
  </form>
{% endblock %}

{% block year %}{{year}}{% endblock %}