{% extends "base.html" %}

{% block head %} 
  {{ super() }}
  <script src="{{ url_for('static', filename='scripts/todo.js') }}"></script>
{% endblock %}

{% block title %}TODO App{% endblock %}

{% block link_home %} {{ link_home }} {% endblock %}
{% block link_todo %} {{ link_todo }} {% endblock %}
{% block link_blog %} {{ link_blog }} {% endblock %}

{% block main %}

  <h1>TODO App</h1>
  <h2>Tasks</h2>
  {% for task in tasks %}
    <div class="task js-task" data-task-id="{{ task['id'] }}">
      <span>{{ task["content"] }}</span>
      {% if  task["checked"] == True %}
        <input type="checkbox" checked>
      {% else %}
        <input type="checkbox">
      {% endif %}
      <button class="edit-btn js-edit-btn-{{ task['id'] }}">Edit</button>
      <button class="save-btn js-save-btn-{{ task['id'] }}">Save</button>
      <button class="js-delete-btn-{{ task['id'] }}">Delete</button>
      <br>
    </div>
  {% endfor %}

  <form action="/api/task" method="post">
    <input name="content" type="text" placeholder="Enter task...">
    <!-- <input type="submit" value="Submit"> -->
    <button>Add task</button>
  </form>

{% endblock %}

{% block year %} {{ year }} {% endblock %}
