{% extends "base.html" %}

{% block head %} 
  {{ super() }}
  <script>
    function deleteTask() {
      const tasks = document.querySelectorAll('.js-task')

      tasks.forEach(task => {
        const {taskId} = task.dataset

        const deleteBtn = document.querySelector(`.js-delete-btn-${taskId}`)

        deleteBtn.addEventListener('click', () => {
          fetch('http://127.0.0.1:5500/api/task', {
            method: 'DELETE',
            body: JSON.stringify({id: taskId}),
            headers: {"Content-Type" : 'application/json'}
          })

          task.remove()
        })

      })
    }

    function editTask() {
      const tasks = document.querySelectorAll('.js-task')

      tasks.forEach(task => {
        const {taskId} = task.dataset
        
        const editBtn = document.querySelector(`.js-edit-btn-${taskId}`)
        
        editBtn.addEventListener('click', () => {
          task.classList.add('edit-mode')

        })

      })

    }

    function saveTask() {
      /*fetch('http://127.0.0.1:5500/api/task', {
        method: 'PUT',
        body: JSON.stringify({id: taskId}),
        headers: {"Content-Type" : 'application/json'}
      })*/

      const tasks = document.querySelectorAll('.js-task')

      tasks.forEach(task => {
        const {taskId} = task.dataset
        
        const saveBtn = document.querySelector(`.js-save-btn-${taskId}`)
        
        saveBtn.addEventListener('click', () => {
          task.classList.remove('edit-mode')

        })

      })

    }

    window.addEventListener('load', () => {
      deleteTask()
      editTask()
      saveTask()
    })
  </script>
{% endblock %}

{% block title %}TODO App{% endblock %}

{% block link_home %} {{ link_home }} {% endblock %}
{% block link_todo %} {{ link_todo }} {% endblock %}
{% block link_blog %} {{ link_blog }} {% endblock %}

{% block main %}

  <h1>TODO App</h1>
  <h2>Tasks</h2>
  {% for task in tasks %}
    <div class="task js-task" data-task-id="{{ task['id'] }}">
      <span>{{ task["content"] }}</span>
      {% if  task["checked"] == True %}
        <input type="checkbox" checked>
      {% else %}
        <input type="checkbox">
      {% endif %}
      <button class="edit-btn js-edit-btn-{{ task['id'] }}">Edit</button>
      <button class="save-btn js-save-btn-{{ task['id'] }}">Save</button>
      <button class="js-delete-btn-{{ task['id'] }}">Delete</button>
      <br>
    </div>
  {% endfor %}

  <form action="/api/task" method="post">
    <input name="content" type="text" placeholder="Enter task...">
    <!-- <input type="submit" value="Submit"> -->
    <button>Add task</button>
  </form>

{% endblock %}

{% block year %} {{ year }} {% endblock %}
